<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JLPT Registration Form - Step 1</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h2>JLPT Registration Form</h2>
        <form id="jlptForm" action="/" method="post">
           
            <!-- Step 1 (JLPT Level, Test Site)-->
            <div class="step active">
                <label for="jlpt_level">JLPT Level:</label><br><br>
                <div class="btn-group" id="jlptLevelButtons">
                    <div class="btn" onclick="selectJlptLevel(5)">N5</div>
                    <div class="btn" onclick="selectJlptLevel(4)">N4</div>
                    <div class="btn" onclick="selectJlptLevel(3)">N3</div>
                    <div class="btn" onclick="selectJlptLevel(2)">N2</div>
                    <div class="btn" onclick="selectJlptLevel(1)">N1</div>
                </div>
                <input type="hidden" id="jlpt_level" name="jlpt_level" required><br><br>

                <label for="test_center">Test Site:</label><br><br>
                <select id="test_center" name="test_center" required>
                    <option value="Rabat">Rabat</option>
                </select><br><br>
            </div>
            
            <!-- Step 2 (Personal Information)-->
            <div class="step">
                <label for="full_name">Given Name:</label><br><br>
                <input type="text" id="full_name" name="full_name" pattern="[A-Za-z ]+" title="Given Name can only contain letters and spaces." required><br><br>

                <label for="gender">Gender:</label><br><br>
                <select id="gender" name="gender" required>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select><br><br>
            </div>

            <!-- Step 3 (Date of birth, Pass Code)-->
            <div class="step">
                <label>Date of Birth:</label><br><br>
                <div class="input-group">
                    <input type="number" id="dob_year" name="dob_year" placeholder="YYYY" min="1900" max="2024" required>
                    <input type="number" id="dob_month" name="dob_month" placeholder="MM" min="1" max="12" required>
                    <input type="number" id="dob_day" name="dob_day" placeholder="DD" min="1" max="31" required>
                </div><br>

                <label for="pass_code">8-Digit Pass Code:</label><br><br>
                <input type="text" id="pass_code" name="pass_code" pattern="\d{8}" title="Please enter 8 digits." required><br><br>
            </div>

            <!-- Step 4 (Native Language, Nationality)-->
             <div class="step">
                <label for="native_language">Native Language:</label><br><br>
                <select id="native_language" name="native_language">
                    <option value="701">Arabic</option>
                    <option value="606">Berber</option>
                    <option value="408">English</option>
                    <option value="411">French</option>
                    <option value="430">Spanish</option>
                    <option value="000">Other</option>
                </select><br><br>

                <label for="nationality">Nationality:</label><br><br>
                <input type="text" id="nationality" name="nationality" required><br><br>
              </div>

            <!--Step 5-->
            <div class="step">
                <label for="adress">Address:</label><br><br>
                <input type="text" id="adress" name="adress" required><br><br>

                <label for="country">Country:</label><br><br>
                <select id="countrySelect" name="country">
                    <option value="Morocco">Morocco</option>
                    <option value="other">Others</option>
                </select><br><br>
                <input type="text" id="otherCountry" name="otherCountry" style="display:none;">
                <script>
                document.getElementById("countrySelect").addEventListener("change", function() {
                    var selectBox = document.getElementById("countrySelect");
                    var userInput = document.getElementById("otherCountry");
            
                    if (selectBox.value === "other") {
                        userInput.style.display = "inline-block";
                        userInput.required = true;
                    } else {
                        userInput.style.display = "none";
                        userInput.required = false;
                    }
                });
                </script>
            </div>

            <!-- Step 6 -->
             <div class="step">
                <lable for="zip_code"><strong>Zip Code:</strong></lable><br><br>
                <input type="text" id="zip_code" name="zip_code" required><br><br>

                <label for="phone_number">Phone Number:</label><br><br>
                <input type="text" id="phone_number" name="phone_number" required><br><br>

                <label for="email">Email Adress:</label><br><br>
                <input type="email" id="email" name="email" required><br><br>
            </div>

            <!-- Step 7-->
             <div class="step">
                <label for="institute">Institution where you study/studied Japanese Language:</label>
                <input type="text" id="institute" name="institute" required><br><br>
    
                <label for="place_learn_jp">Place of learning Japanese:</label><br><br>
                <select id="place_learn_jp" name="place_learn_jp">
                    <option value="1">Elementary school (primary education)</option>
                    <option value="2">Middle school or high school (secondary education)</option>
                    <option value="3">University or graduate school (higher education) as a MAJOR</option>
                    <option value="4">University or graduate school (higher education) NOT as a major</option>
                    <option value="5">Other educational institution/ Autre établissement d'enseignement</option>
                    <option value="6">None of the above/ Aucune de ces réponses</option>
                </select><br><br>
             </div>

            <!-- Step 8-->
            <div class="step">
                <label for="reason_jlpt">Reason for taking this JLPT exam:</label><br><br>
                <select id="reason_jlpt" name="reason_jlpt" required>
                    <option value="1">Necessary for ADMISSION into university or graduate school in my OWN COUNTRY</option>
                    <option value="2">Necessary for ADMISSION into university or graduate school in JAPAN</option>
                    <option value="3">Necessary for admission or as PROOF OF PROFICIENCY for other educational institution in my OWN COUNTRY</option>
                    <option value="4">Necessary for admission or as PROOF OF PROFICIENCY for other educational institution in JAPAN</option>
                    <option value="5">Useful for work /attain employment, secure salary increase, or promotion in my OWN COUNTRY</option>
                    <option value="6">Useful for work/attain employment, secure salary increase or promotion in JAPAN</option>
                    <option value="7">None of the above; to measure my own level of proficiency</option>
                    <option value="8">None of the above</option>
                </select><br><br>
            </div>

            <!--Step 9-->
            <div class="step">
                <label for="occupation">Occupation:</label><br><br>
                <select id="occupation" name="occupation" required>
                    <option value="1">Elementary school student (primary education).</option>
                    <option value="2">Middle school or high school student (secondary education).</option>
                    <option value="3">University or graduate school student (higher education).</option>
                    <option value="4">Student of other educational institution (e.g. foreign language school).</option>
                    <option value="5">Employed (company employee, public servant, educator, self-employed, etc.).</option>
                    <option value="6">Other.</option>
                </select><br><br>
            </div>

            <!--Step 10-->
            <div class="step">
                <label for="occupation_details">Occupation details:</label><br><br>
                <select id="occupation_details" name="occupation_details" required>
                    <option value="1">Use Japanese to teach Japanese-language as a TEACHER</option>
                    <option value="2">Use Japanese while working as a PUBLIC SERVANT</option>
                    <option value="3">Use Japanese while working as a company employee in the MANUFACTURING, CONSTRUCTION, or IT INDUSTRY</option>
                    <option value="4">Use Japanese while working as an employee in the SERVICE, TOURISM, or HOSPITALITY INDUSTRIES</option>
                    <option value="5">Use Japanese at a job other than 1 through 4 above</option>
                    <option value="6">Do not use Japanese while working</option>
                </select><br><br>
            </div>
            
            <!-- Step 11 -->
             <div class="step">
                <label for="media_jp">Media via which you come into contact with Japanese Language:</label><br><br>
                <div id="media_jp">
                    <label><input type="checkbox" name="media_jp" value="1"> TV news program and documentaries</label><br>
                    <label><input type="checkbox" name="media_jp" value="2"> Drama (excluding anime)</label><br>
                    <label><input type="checkbox" name="media_jp" value="3"> Anime</label><br>
                    <label><input type="checkbox" name="media_jp" value="4"> Newspapers and magazines (excluding manga)</label><br>
                    <label><input type="checkbox" name="media_jp" value="5"> Books (excluding textbooks)</label><br>
                    <label><input type="checkbox" name="media_jp" value="6"> Manga</label><br>
                    <label><input type="checkbox" name="media_jp" value="7"> Articles on websites</label><br>
                    <label><input type="checkbox" name="media_jp" value="8"> Other</label><br>
                    <label><input type="checkbox" name="media_jp" value="9"> Only come into contact with Japanese language inside the class</label><br>
                </div><br><br>
            </div>

            <!-- Step 12 -->
            <div class="step">
                <label for="communicate_teacher">How do you usually communicate in Japanese with your TEACHER?</label><br><br>
                <div id="communicate_teacher" class="checkbox-group">
                    <label><input type="checkbox" name="communicate_teacher" value="1"> Talk with the teacher</label>
                    <label><input type="checkbox" name="communicate_teacher" value="2"> Listen to what the teacher says</label>
                    <label><input type="checkbox" name="communicate_teacher" value="3"> Read what the teacher writes</label>
                    <label><input type="checkbox" name="communicate_teacher" value="4"> Write to the teacher</label>
                </div><br><br>
            </div>

            <!-- Step 13 -->
            <div class="step">
                <label for="communicate_friends">How do you usually communicate in Japanese with your FRIENDS?</label><br><br>
                <div id="communicate_friends" class="checkbox-group">
                    <label><input type="checkbox" name="communicate_friends" value="1"> Talk with friends</label>
                    <label><input type="checkbox" name="communicate_friends" value="2"> Listen to what friends say</label>
                    <label><input type="checkbox" name="communicate_friends" value="3"> Read what friends write</label>
                    <label><input type="checkbox" name="communicate_friends" value="4"> Write to friends</label>
                </div><br><br>
            </div>

            <!-- Step 14 -->
            <div class="step">
                <label for="communicate_family">How do you usually communicate in Japanese with your FAMILY?</label><br><br>
                <div id="communicate_family" class="checkbox-group">
                    <label><input type="checkbox" name="communicate_family" value="1"> Talk with family</label>
                    <label><input type="checkbox" name="communicate_family" value="2"> Listen to what family says</label>
                    <label><input type="checkbox" name="communicate_family" value="3"> Read what family writes</label>
                    <label><input type="checkbox" name="communicate_family" value="4"> Write to family</label>
                </div><br><br>
            </div>

            <!-- Step 15 -->
            <div class="step">
                <label for="communicate_supervisor">How do you usually communicate in Japanese with your SUPERVISOR?</label><br><br>
                <div id="communicate_supervisor" class="checkbox-group">
                    <label><input type="checkbox" name="communicate_supervisor" value="1"> Talk with the supervisor</label>
                    <label><input type="checkbox" name="communicate_supervisor" value="2"> Listen to what supervisor says</label>
                    <label><input type="checkbox" name="communicate_supervisor" value="3"> Read what supervisor writes</label>
                    <label><input type="checkbox" name="communicate_supervisor" value="4"> Write to supervisor</label>
                </div><br><br>
            </div>

            <!-- Step 16 -->
            <div class="step">
                <label for="communicate_colleagues">How do you usually communicate in Japanese with your COLLEAGUES?</label><br><br>
                <div id="communicate_colleagues" class="checkbox-group">
                    <label><input type="checkbox" name="communicate_colleagues" value="1"> Talk with colleagues</label>
                    <label><input type="checkbox" name="communicate_colleagues" value="2"> Listen to what colleagues say</label>
                    <label><input type="checkbox" name="communicate_colleagues" value="3"> Read what colleagues write</label>
                    <label><input type="checkbox" name="communicate_colleagues" value="4"> Write to colleagues</label>
                </div><br><br>
            </div>

            <!-- Step 17 -->
            <div class="step">
                <label for="communicate_CUSTOMERS">How do you usually communicate in Japanese with CUSTOMERS?</label><br><br>
                <div id="communicate_CUSTOMERS" class="checkbox-group">
                    <label><input type="checkbox" name="communicate_CUSTOMERS" value="1"> Talk with customers</label>
                    <label><input type="checkbox" name="communicate_CUSTOMERS" value="2"> Listen to what customers say</label>
                    <label><input type="checkbox" name="communicate_CUSTOMERS" value="3"> Read what customers write</label>
                    <label><input type="checkbox" name="communicate_CUSTOMERS" value="4"> Write to customers</label>
                </div><br><br>
            </div>

             <!-- Step 18 -->
             <div class="step">
                <label for="jlpt_taken">How many times have you taken JLPT?</label><br><br>
            
                <label for="jlpt_n1">JLPT N1:</label>
                <select id="jlpt_n1" name="jlpt_n1">
                    <option value=" ">Select</option>
                    <script>
                        for (var i = 0; i <= 8; i++) {
                            document.write("<option value='" + i + "'>" + i + "</option>");
                        }
                        document.write("<option value='9 or more'>9 or more</option>");
                    </script>
                </select>
            
                <label for="jlpt_n2">JLPT N2:</label>
                <select id="jlpt_n2" name="jlpt_n2">
                    <option value=" ">Select</option>
                    <script>
                        for (var i = 0; i <= 8; i++) {
                            document.write("<option value='" + i + "'>" + i + "</option>");
                        }
                        document.write("<option value='9 or more'>9 or more</option>");
                    </script>
                </select>
            
                <label for="jlpt_n3">JLPT N3:</label>
                <select id="jlpt_n3" name="jlpt_n3">
                    <option value=" ">Select</option>
                    <script>
                        for (var i = 0; i <= 8; i++) {
                            document.write("<option value='" + i + "'>" + i + "</option>");
                        }
                        document.write("<option value='9 or more'>9 or more</option>");
                    </script>
                </select>
            
                <label for="jlpt_n4">JLPT N4:</label>
                <select id="jlpt_n4" name="jlpt_n4">
                    <option value=" ">Select</option>
                    <script>
                        for (var i = 0; i <= 8; i++) {
                            document.write("<option value='" + i + "'>" + i + "</option>");
                        }
                        document.write("<option value='9 or more'>9 or more</option>");
                    </script>
                </select>
            
                <label for="jlpt_n5">JLPT N5:</label>
                <select id="jlpt_n5" name="jlpt_n5">
                    <option value=" ">Select</option>
                    <script>
                        for (var i = 0; i <= 8; i++) {
                            document.write("<option value='" + i + "'>" + i + "</option>");
                        }
                        document.write("<option value='9 or more'>9 or more</option>");
                    </script>
                </select>
            </div>
          
            <!-- Step 19 -->
            <div class="step">
                <label for="jlpt_past_result">Result of the last exam taken.</label>

                <label for="n1_result">N1/Ex Level 1:</label>
                <select id="n1_result" name="n1_result">
                    <option value="">None</option>
                    <option value="1">Pass</option>
                    <option value="2">Fail</option>
                </select>

                <label for="n2_result">N2/Ex Level 2:</label>
                <select id="n2_result" name="n2_result">
                    <option value="">None</option>
                    <option value="1">Pass</option>
                    <option value="2">Fail</option>
                </select>

                <label for="n3_result">N3:</label>
                <select id="n3_result" name="n3_result">
                    <option value="">None</option>
                    <option value="1">Pass</option>
                    <option value="2">Fail</option>
                </select>

                <label for="n4_result">N4/Ex Level 3:</label>
                <select id="n4_result" name="n4_result">
                    <option value="">None</option>
                    <option value="1">Pass</option>
                    <option value="2">Fail</option>
                </select>

                <label for="n5_result">N5/Ex Level 4:</label>
                <select id="n5_result" name="n5_result">
                    <option value="">None</option>
                    <option value="1">Pass</option>
                    <option value="2">Fail</option>
                </select>
            </div>
            <!-- Navigation buttons -->
            <div class="navigation-buttons">
                <!-- Conditional rendering for previous button -->
                <button type="button" id="prevBtn" onclick="prevStep()" style="display: none;">Previous</button>
                <!-- Conditional rendering for next/submit button -->
                <button type="button" id="nextBtn" onclick="nextStep()">Next</button>
                <button type="submit" id="submitBtn" style="display: none;">Submit</button>
            </div>
            
        </form>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
